﻿@model WebApplication1.Models.Foods
@{
    ViewBag.Title = "Калькулятор";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-lg-4">
            <table data-toggle="table"
                   id="table"
                   class="table">
                <thead>
                    <tr>
                        <th data-sortable="true" style="width: 25%;">Напитки</th>
                        <th style="width: 25%;"></th>
                        <th data-sortable="true" style="width: 25%;">Еда</th>
                        <th style="width: 25%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-group">
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Вода") Вода</div>
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Эспрессо") Эспрессо</div>
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Латте") Латте</div>
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Капучино") Капучино</div>
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Черный чай") Черный чай</div>
                            <div class="">@Html.RadioButtonFor(m => m.Water, "Зеленый чай") Зеленый чай</div>
                        </td>
                        <td>
                            <div>20 руб.</div>
                            <div>50 руб.</div>
                            <div>60 руб.</div>
                            <div>70 руб.</div>
                            <div>25 руб.</div>
                            <div>25 руб.</div>
                        </td>

                        <td>
                            <div>@Html.RadioButtonFor(m => m.Food, "Хлеб") Хлеб</div>
                            <div>@Html.RadioButtonFor(m => m.Food, "Булочка") Булочка</div>
                            <div>@Html.RadioButtonFor(m => m.Food, "Чипсы") Чипсы</div>
                            <div>@Html.RadioButtonFor(m => m.Food, "Печенье") Печенье</div>

                        </td>
                        <td>
                            <div>10 руб.</div>
                            <div>15 руб.</div>
                            <div>34 руб.</div>
                            <div>29 руб.</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: 700;">Добавка к напиткам</td>
                        <td></td>
                        <td style="width: 30%; font-weight: 700;">Добавка к еде</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div>@Html.CheckBoxFor(m => m.Milk) Молоко</div>
                            <div>@Html.CheckBoxFor(m => m.Syrup) Сироп</div>
                            <div class="form-inline">@Html.TextBoxFor(m => m.Count, new { @type = "number", @style = "width: 60px;", @min = "1", @max = "5" }) @Html.CheckBoxFor(m => m.Sugar) Сахар</div>
                            @Html.ValidationMessageFor(m => m.Count)
                        </td>
                        <td>
                            <div>10 руб.</div>
                            <div>5 руб.</div>
                            <div>3 руб.</div>
                        </td>

                        <td>
                            <div class="">@Html.CheckBoxFor(m => m.Ham) Ветчина</div>
                            <div class="">@Html.CheckBoxFor(m => m.Chees) Сыр</div>
                            <div class="">@Html.CheckBoxFor(m => m.Jam) Джем</div>
                        </td>
                        <td>
                            <div>15 руб.</div>
                            <div>10 руб.</div>
                            <div>7 руб.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="">@Html.CheckBoxFor(m => m.Complex, "Ветчина") Комплекс (1 напиток с любой добавкой + 1 еда с любой добавкой на выбор)</div>
                        </td>
                        <td></td>
                        <td>
                            <div>90 руб.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Стоимость
                        </td>
                        <td colspan="2">
                            <div class="form-inline">@Html.TextBoxFor(m => m.Price, new { @class = "form-control", @disabled = true })</div>
                        </td>
                        <td>
                            <button id="save" type="submit" class="btn btn-success ">Выдать</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>
@if (TempData["testmsg"] != null)
{
    @Html.Raw(TempData["testmsg"])
}
